extends layout

block content
	h3 Add a phonebook entry
	form(action='/add',method='post')
		label(for='name') name
		input(type='text', id='name', name='name', placeholder='name')
		br
		label(for='surname') surname
		input(type='text', id='surname', name='surname', placeholder='surname')
		br
		label(for='number') number
		input(type='text', id='number', name='number', placeholder='+39 345 445566')
		br
		input(type='submit', value='Add')