extends layout

block content
	nav.menu
		a(href='/') home
		a(href='/add') add
	ul.entries
		for entry in entries
			li
				a(href='/edit/#{entry._id}')
					span.name #{entry.name}
					span.surname #{entry.surname}
					span.number #{entry.number}
		else
			li no entries yet!