doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/assets/css/style.css')
		meta(name='viewport', content='width=device-width')
	body
		h1 Telephone directory
		block content
		script(src='/assets/js/main.js')