body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  display: inline-block;
  color: #00B7FF;
  padding: .2em;
}

li span{
  margin-right: .4em;
}

.search-input{
  display: none;
}
.search-input.show{
  display: inline-block;
}