body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

*,*:before,*:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3{
  margin-bottom: 1.5em;
}

.container{
  max-width: 30em;
  margin: 1em auto;
  width: 100%;
  padding: 1em;
}

a {
  display: inline-block;
  color: #00B7FF;
  padding: .2em;
}

li span{
  margin-right: .4em;
}

.menu{
  background-color: #DFDFDF;
  margin-bottom: 2em;
}
  .menu a, .menu input{
    padding: .75em;
    color:#333;
    border:none;
    outline:none;
  }
  .menu a:hover{
    background-color: #CACACA;
  }

form div > *{
  width: 70%;
  display: inline-block;
  margin-top: .5em;
}
form div > label{
  width: 30%;
}
  input[type="submit"]{
    width: 5em;
    padding: .5em 1.5em;
    margin: .5em auto;
  }
  
.search-input{
  display: none;
}
.search-input.show{
  display: inline-block;
}